PORT=8081
DB_PORT=5432
DB_HOST=127.0.0.1
DB_USER=usersv
DB_NAME=user_db
DB_PASSWORD=user_password
JWT_SECRET=sadfdsfasdkfnasdfkasldfnasdf8wqe475rq38rfasdfkladsafdasfdasfewqrewqfw3253464326234tdfas
RABBITMQ_URL=amqp://guest:guest@localhost:5672/